:root {
    --padding-custom_property: 30px 0;
    --color-title-custom_property: #001a49;
    --no-of-slides: 7;
    --slides-in-view: 4;
    --slide-width: 200px;
    --slide-height: 300px;
    --iteration-time: 90s;
}

@font-face {
    font-family: 'Jakarta';
    src: url(../fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'DM';
    src: url(../fonts/DMSans-Regular.ttf);
}

@keyframes mover {

    100% {
        transform: translate(20%);
    }
}

body {
    font-family: 'Jakarta', Semibold;

}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-custom_property);
}

/*problems with IPAD*/
.hero {
    color: white;
    width: 100%;
    height: 100vh;
    min-height: 450px;
    max-height: 450px;
    /* position: relative;*/
    display: grid;
    /*2 filas una de 100px y la otra de lo que sobre*/
    grid-template-rows: 100px 1fr;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 450px;
    background-image: linear-gradient(180deg, #27262616 0%, #000000c8 100%), url('../images/fondo_carrusel_1.png');
    background-size: cover;
    z-index: -1;
}

/* NAV
     ========================================================================== */
.nav {
    --padding-custom_property: 0;
    height: 100%;
    display: flex;
    align-items: center;

}

.nav__items {
    list-style: none;

}

.nav__logo {
    margin-top: 45px;
    margin-left: 2px;
    width: 200px;
    height: 100px;
}

.nav__link {

    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}



.nav__links {
    color: white;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__close {
    display: var(--show, none);
}




.nav__contact__dropdown {
    position: inherit;
    display: block;
}


.nav__contact__dropdown-content {
    overflow: scroll;
    display: none;
    position: absolute;
    border-radius: 0px 20px 20px 20px;
    width: 400px;
    height: 200px;
    /*scrollbar display none pero sigue funcionando IE, Edge and Firefox*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*scrollbar display none pero sigue funcionando Chrome, Safari and Opera*/
.nav__contact__dropdown-content::-webkit-scrollbar {
    display: none;
}

.nav__contact__dropdown:hover .nav__contact__dropdown-content {
    display: block;
}


.nav__contact__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.nav__contact__input__text {
    background-color: lightgray;
    height: 50px;
    width: 350px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.nav__contact__input__email {
    width: 250px;
}

.nav__contact__submit {
    display: block;
    height: 50px;
    padding: 0 20px;
    background-color: #e65023;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}



.nav__blog__dropdown {
    position: inherit;
    display: inline-block;
}


.nav__blog__dropdown-content {
    overflow: scroll;
    display: none;
    position: absolute;
    border-radius: 0px 20px 20px 20px;
    width: 300px;
    height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /*scrollbar display none pero sigue funcionando IE, Edge and Firefox*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*scrollbar display none pero sigue funcionando Chrome, Safari and Opera*/
.nav__blog__dropdown-content::-webkit-scrollbar {
    display: none;
}

.nav__blog__dropdown-content img {
    overflow: scroll;
    width: 300px;
    height: 800px;
}

.nav__blog__dropdown:hover .nav__blog__dropdown-content {
    display: block;
}

.nav__podcast__dropdown {
    position: inherit;
    display: inline-block;
}

.nav__podcast__dropdown-content {
    right: 5%;
    display: none;
    position: absolute;
    border-radius: 20px 20px 20px 20px;
    width: 340px;
    height: 400px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav__podcast__dropdown-content::-webkit-scrollbar {
    display: none;
}

.nav__podcast__dropdown-content img {
    overflow: scroll;
    width: 300px;
    height: 100px;
}

.nav__podcast__dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav__podcast__dropdown-content a:hover {
    background-color: #e65023;
}

.nav__podcast__dropdown:hover .nav__podcast__dropdown-content {
    display: block;
}



/* HERO
     ========================================================================== */
.hero__container {

    margin-top: 94px;
    max-height: 600px;
    max-width: 800px;
    --padding-custom_property: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    text-align: center;

}

.hero__title {

    margin-bottom: 24px;
    font-size: 3rem;
    padding-left: 20%;
    padding-right: 20%;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta__button {
    border: none;
    font-family: "DM";
    font-weight: 900;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    font-size: 1.4rem;
    padding: 17px;
    padding-left: 34px;
    align-items: center;
    text-align: left;
    width: 270px;
    height: 61px;
    color: black;
    background-color: white;
    margin-bottom: 30px;
    outline: none;
}

.cta__button:hover {
    background-color: #e65023;
    transform: scale(1.15);
    cursor: pointer;
    color: white;
}

.cta__button:hover>.fa-angle-right {
    background-color: #e65023;
    transform: scale(1.15);
    cursor: pointer;
    color: white;

}


.cta__button i {
    color: #e65023;
    margin-left: 22px;
}






/* ABOUT
     ========================================================================== */
.about {
    display: flex;
    text-align: center;
    justify-content: center;
    --padding-custom_property: 50px 30px;
}

.about__main {
    display: flex;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /*Hace columnas que se ajustan según el tamaño sin mediaqueris*/
    /*grid-template-columns: repeat(align-items, minmax(300px, auto));*/
    grid-auto-flow: row dense;
}

.about__table {

    max-width: 1200px !important;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
    /*adaptables sin usar mediaqueris*/
    display: flex;
    flex-wrap: wrap;
}

.about__element {
    display: flex;
    text-align: center;
    border-radius: 10px;
    width: 361px;
}

.about__element__reverse {
    display: flex;
    text-align: center;
    border-radius: 10px;
    width: 361px;

}

.about__text {
    margin-top: 15%;
    font-family: 'DM';
    font-size: 1rem;
    margin-left: 15px;
}

.about__title {
    padding-bottom: 8px;
    font-size: 1.3rem;
    text-align: left;
}

.about__paragrahp {
    font-size: 0.9rem;
    color: darkgrey;
    text-align: left;
}


.about__text__reverse {
    text-align: center;
    width: 100%;
    margin-top: 15%;
    margin-left: 5%;
    font-family: 'DM';
    font-size: 1rem;
}

.about__img {
    width: 200px;

}

/* POPULAR
     ========================================================================== */
.popular {
    background-color: #faf9f8;
    text-align: center;
    width: 100%;
}

.popular__subtitle {
    font-family: 'DM';
    font-size: 2rem;
    margin-bottom: 25px;
    text-align: center;

}

.populare__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.popular__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}

.popular__picture {
    max-width: 500px;
}

.popular__img {
    width: 100%;
    display: block;
}

.popular__table {
    max-width: 1200px !important;
    margin: 0 auto;
    padding-top: 11px;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    /*adaptables sin usare mediaqueri*/
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2%;

}

.popular__element {
    color: white;
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 30px;
    cursor: pointer;

}

.popular__element:hover {
    transform: scale(1.2);
    box-shadow: 0px 5px 5px #413f3fac;
}

.popular__popular {
    margin-top: 70px;
    font-size: 2.5rem;
}

.popular__features {
    margin-top: 2px;
    font-size: 0.9rem;
}

.popular__items {
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.popular__cta {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);

}


/* GUIA
     ========================================================================== */
.guia {
    width: 100%;
    display: flex;
    font-family: 'DM';
    justify-content: center;

}

.guia__element__img {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

.guia__element {
    text-align: center;
    border-radius: 10px;
}

.guia__text {
    display: block;
    width: 500px;
    justify-content: center;
    margin: 0 auto;
}

.fa-circle-check {
    color: forestgreen;
    margin: 2px;
    margin-right: 10px;
}

#movil__animated {
    position: relative;
    left: -300%;
    height: 541px;
    width: 303px;
}

#movil__animated2 {
    opacity: 0;
    position: relative;
    right: -300%;
    height: 541px;
    width: 303px;
}

#movil__animated3 {
    display: inherit;
    position: absolute;
    margin-top: -20%;
    margin-left: 155%;
    height: 500px;
    width: 550px;
}


.guia__title {
    margin-left: 35px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 8px;
}

.guia__title__paragrahp {
    font-size: 1.3rem;
    color: black;
    margin: 26px 71px 50px 110px;
}

.guia__text__flex {
    display: flex;
    margin-bottom: 9px;
    justify-content: left;
    margin-left: 100px;
    margin-bottom: 30px;
}

.guia__paragrahp {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    color: black;

}

.banner__internet {
    justify-content: center;
    margin-bottom: 125px;
    margin-top: -100px;
    display: flex;
}

.banner__internet img {
    opacity: 40%;
    text-align: center;
    width: 20px;
    height: 20px;
}

.banner__paragrahp {
    font-family: 'DM';
    color: darkgrey;
    margin-left: 20px;
}

/* SLIDER
     ========================================================================== */
.slider__section {
    min-height: 48vh;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
}

.slider__header {
    width: 100%;
    height: 70%;
}

#img_lagarto {
    position: relative;
    left: 54%;
    width: 80px;
    height: 50px;
    top: 20px
}

.slider__title {
    font-family: 'Jakarta';
    font-size: 2rem;
    text-align: center;
}

.slide-container {
    display: flex;
    max-width: 90% !important;
    padding: 40px 0;
}

.slide-content {
    margin: 37px 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    height: 20%;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
    align-items: center;
}

.card-image {
    align-items: center;
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    padding: 3px;
}

.card-image .card-img {
    align-items: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10%;
}

.card-content h2 {
    font-family: 'DM';
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 0%;
    margin-top: -2%;
}

.card-content p {
    font-family: 'DM';
    text-align: left;
    color: lightgray;
    margin-top: 1%;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.swiper-pagination {
    color: black;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    margin-top: 5%;
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #e65023;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #e65023;
}

.button:hover {
    background: #e65023;
}

.swiper-navBtn {
    color: #e65023;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #e65023;
}

.swiper-navBtn::before,
.swiper-navBtn::after {

    font-size: 35px;
    color: #e65023;
}

.swiper-button-next {
    top: 42% !important;
    right: 0;
}

.swiper-button-prev {
    top: 42% !important;
    left: 0;
}

.swiper-pagination-bullet {

    background-color: #e65023 !important;
    opacity: 1;
}



/* CARRUSEL
     ========================================================================== */


@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
    }
}

.carousel__wrapper {
    display: flex;
    /*justify-content: center;*/
    align-items: left;


    overflow: hidden;

    margin: 0 auto;
}

.carousel {
    padding: 100px 0;


    overflow: hidden;
    width: calc(2 * var(--no-of-slides));
}

.carousel__slide {
    animation: scroll var(--iteration-time) linear infinite;
    display: flex;
    flex-direction: column;

    flex: 0 0 auto;
    width: var(--slide-width);
    height: var(--slide-height);
    box-sizing: border-box;
    /*border: 1px dotted darkblue;*/
}

.carrusel__section {
    background-color: #faf9f8;
    padding-top: 25px;
}

.carousel__image {
    cursor: pointer;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
    height: 50%;
    margin: 15px 20px;
}



.carrusel__text {
    color: lightgray;
    text-align: left;
    margin-left: 10%;

}

.carrusel__title {
    font-weight: normal;
    font-family: 'DM';
    font-size: 1rem;
    padding: 4%;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: -10%;
}

.carrusel__paragrahp {
    font-family: 'DM';
    font-size: 0.7rem;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: -5px;
}


.carrusel__button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.subtitle__carrusel {
    font-weight: 100;
    line-height: 1.25rem;
}


/* PLANIFY
     ========================================================================== */
.planify {
    margin-top: 30px;
}

.planify__title {
    font-family: "DM";
    text-align: center;
    color: #e65023;
    font-size: 1.3rem;
    margin-bottom: -33px;
}


.planify__table__world {

    margin-top: 80px;
    margin-bottom: 49px;
    gap: 1em;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    /*adaptables sin usare mediaqueri*/
    display: flex;
    flex-wrap: wrap;
}

.planify__subtitle {
    margin-top: 42px;
    font-family: "DM";
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 5px;
    font-weight: bold;
    margin-bottom: 25px;
}

.planify__table__button {
    display: none;
}


.planify__orange {
    font-family: "DM";
    font-weight: bold;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
    display: flex;
    font-size: 1.4rem;
    padding: 17px;
    padding-left: 34px;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    text-align: left;
    width: 301px;
    height: 61px;
    color: white;
    background-color: #e65023;
    cursor: pointer;
}

.planify__orange:hover {
    transform: scale(1.10);

}

.planify__button i {
    margin-left: 60px;
}

.mundo {
    width: 150px;
    height: 150px;
    border-radius: 365px;
    position: relative;
    animation: turn2 45s infinite linear;
    -webkit-animation: turn2 45s infinite linear;
    box-shadow: 0px 15px 60px rgba(255, 255, 255, 0.1) inset, 1em 0px 0px rgba(255, 255, 255, 0.5) inset;

}

.mundo:hover {
    transform: scale(1.10);

}


.africa {
    background: url('../images/mapa/africa.png') repeat-x 0 0;

}

.america {
    background: url('../images/mapa/america.png') repeat-x 0 0;
    animation: turn1 45s infinite linear;
    -webkit-animation: turn1 45s infinite linear;
    box-shadow: 0px 15px 60px rgba(255, 255, 255, 0.5) inset, 1em 0px 0px rgba(255, 255, 255, 0.1) inset;
}

.asia {
    background: url('../images/mapa/asia.png') repeat-x 0 0;
}

.europa {
    background: url('../images/mapa/europa.png') repeat-x 0 0;
    animation: turn1 45s infinite linear;
    -webkit-animation: turn1 45s infinite linear;
    box-shadow: 0px 15px 60px rgba(255, 255, 255, 0.5) inset, 1em 0px 0px rgba(255, 255, 255, 0.1) inset;
}

.oriente {
    background: url('../images/mapa/orientemedio.png') repeat-x 0 0;
}

.mundo__white {
    margin: 5px;
    width: 150px;
    height: 150px;
}

.mundo__white:hover {
    filter: invert(100%);

}

.europa__white {
    background: url('../images/mapa/europa_blanco.png') repeat-x 0 0;
}

.oriente__white {
    background: url('../images/mapa/oriente_blanco.png') repeat-x 0 0;
}

.asia__white {
    background: url('../images/mapa/asia_blanco.png') repeat-x 0 0;
}

.america__white {
    background: url('../images/mapa/america_blanco.png') repeat-x 0 0;
}

.africa__white {
    background: url('../images/mapa/africa_blanco.png') repeat-x 0 0;
}

.mundo__text {
    display: flex;
    font-family: "DM";
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0%
}

.white {
    display: block;
    font-weight: bold;
    color: #707070;
    opacity: 100%;
    margin-top: -40px;
}

.mundo__text:hover {
    cursor: pointer;
    opacity: 100%;
    color: #1291b8;
    transform: scale(1.10);
}

@-webkit-keyframes turn1 {

    0% {
        background-position: 0 0
    }

    50% {
        background-position: -365px 0;
        box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.5) inset, 25em 0px 80px rgba(0, 0, 0, 0.8) inset;
    }

    100% {
        background-position: -727px 0
    }
}


@keyframes turn2 {
    0% {
        background-position: 0 0;
        box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.5) inset, 25em 0px 80px rgba(0, 0, 0, 0.8) inset;

    }

    50% {
        background-position: -365px 0;
        box-shadow: none;

    }


    100% {
        background-position: -727px 0;
        box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.5) inset, 25em 0px 80px rgba(0, 0, 0, 0.8) inset;

    }
}

.planify__fade__in {
    opacity: 0;
}



/*REVIEW*/
.google__review {
    padding: 5%;
    background-color: #faf9f8;
    display: flex;
    overflow: hidden;
}

.review__img {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0 10px;
}

/* FOOTER
     ========================================================================== */
.footer {
    padding: 3%;
    margin-top: -7%;
    background-color: #faf9f8;
}

.logo__img__footer {
    margin-top: -30px;
    width: 322px;
    height: 130px;

}

.footer__title {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title,
.footer__newsletter {
    font-family: "Jakarta";
    font-weight: bold;
    color: gray;
}

.footer__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    /*linea*/
    border-bottom: 3px solid #a3a09f;
    padding-bottom: 60px;
}

.footer__newsletter a {
    color: #e65023;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input {
    background-color: lightgray;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #e65023;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy {
    width: 60%;
    --padding-container: 30px 0;
    text-align: center;
    color: lightgray;
}



.footer__copyright {
    font-family: sans-serif;
    font-weight: 300;
}

.fa-brands {
    font-size: 1.5rem;
    margin: 10px;
    color: #e65023;
    cursor: pointer;
}

.fa-brands:hover {
    transform: scale(1.80);
    filter: url('#teal-lightgreen')
}

.footer__img {
    width: 30px;
}

.footer__nav__links {
    color: grey;
    text-decoration: none;
}





/* 1700 MEDIA
     ========================================================================== */
@media (max-width:1700px) {

    .slide-content {
        border-radius: 0px;
        padding-left: 2%;
        padding-right: 11%;
        margin-left: 1%;
        margin-right: -11px;
        margin: 0px;
    }

    .card-image {
        align-items: center;
        position: relative;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        padding: 5px;
    }

    .image-content {
        padding: 0px;
        margin: 0px;
        row-gap: 0px;
    }

    .card-content {

        padding: 10px 40px;
        margin-left: 20px;
    }

    .card-content h2 {
        text-align: left;
        font-size: 0.9rem;
        margin-right: 17px;
    }

    .card-content p {
        font-size: 0.7rem;
        margin-bottom: 35px;
    }


    .swiper-navBtn::before,
    .swiper-navBtn::after {
        display: none;
    }


    .slider__title {

        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 5%;
    }

    #img_lagarto {
        left: 54%;
        width: 70px;
        height: 40px;
        top: 15px
    }

    .description {
        font-size: 0.7rem;
        color: darkgrey;
        margin-bottom: 40px;
        margin-right: 32px;
        margin-top: 3%;

    }

}

/* 934 MEDIA
     ========================================================================== */
@media (max-width:934px) {
    .planify__table__world {
        display: none;
    }

    .planify__table__button {
        padding-top: 11px;
        gap: 1em;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        /*adaptables sin usare mediaqueri*/
        display: flex;
        flex-wrap: wrap;
    }

    #movil__animated3 {
        display: none;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        display: none;
    }

    .slider__title {
        margin-bottom: 5%;
    }

    .slider__section {
        min-height: 34vh;
    }

    .slide-content {
        border-radius: 0px;
        padding-left: 2%;
        padding-right: 11%;
        margin-left: 1%;
        margin-right: -11px;
        margin: 0px;
    }

    .image-content {
        padding: 0px;
        margin: 0px;
        row-gap: 0px;
    }

    .card-image {
        height: 171px;
        width: 152px;
    }


    .card-content {
        margin-top: 8px;
        padding: 0px;
        margin-left: 25px;
        margin-right: -2px;
    }

    .card-content h2 {
        font-size: 0.9rem;
        margin-right: 16px;
    }

    .card-content p {
        font-size: 0.7rem;
        margin-bottom: 20%;
    }

    .nav__logo {
        width: 20%;
    }

    .nav__menu {
        display: block;
        width: 5%;
    }

    /*el menu existe por delante de todo pero tien la opacidad a 0 */
    .nav__link--menu {
        position: fixed;
        background-image: linear-gradient(180deg, #27262616 0%, #000000c8 50%), url('../images/fondo_carrusel_1.png');
        background-size: cover;
        top: 0;
        margin-left: -5%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__links {
        font-family: 'DM';
        font-weight: bold;
        color: white;
        font-size: 2rem;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title {
        margin-bottom: 10px;
        font-size: 2rem;
    }

    .hero__container {
        margin-top: 145px;
    }

    .about__main {
        gap: 2em;
    }

    .about {
        --padding-custom_property: 0px 0px;
    }

    .about__text__reverse {
        margin-right: 0%;
        margin-left: 19%;
        text-align: left;
    }

    .popular__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .popular__table {
        max-width: 100%;
    }

    .popular__picture {
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container {
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .testimony__img {
        width: 200px;
        height: 200px;
    }

    .questions__copy {
        width: 100%;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer {

        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input {
        flex: 1;
    }
}


/* 600 MEDIA
     ========================================================================== */
@media (max-width:600px) {

    .nav__logo {
        width: 38%;
    }

    .nav__menu {
        width: 10%;
        margin-right: 5%;
    }

    .hero {
        max-height: 508px;
    }

    .hero::before {
        height: 500px;
        background-position: 70% 100%;
    }

    .hero__title {
        padding: 0%;
        font-size: 1.9rem;
        text-align: left;
        margin-left: 15%;
        padding-right: 23%;
        margin-right: 9%;
    }

    .hero__container {
        height: 250px;
        margin-bottom: 300px;
    }

    .hero__paragraph {
        font-size: 1rem;
    }

    #about__img__1 {
        margin-left: -30px;
    }

    #about__img__2 {
        margin-right: -24px
    }

    #about__img__3 {
        margin-left: 24px
    }

    .about {
        width: 100%;
    }

    .about__main {
        padding-top: 0px;
    }

    .about__img {
        width: 188px;
        height: 179px;
    }

    .about__table {

        padding-top: 0px;
        gap: 0;
    }

    .about__text {
        text-align: left;
        width: 100%;
        margin-top: 15%;
        margin-right: 0%;
        margin-left: 2%;
        font-family: 'DM';
        font-size: 1rem;
    }

    .about__title {
        padding-bottom: 8px;
        font-size: 1.2rem;
    }

    .about__paragrahp {
        font-size: 0.9rem;
        color: darkgrey;
        margin-right: 51px;
    }

    #about__paragrahp__2 {
        margin-right: 17px;
    }

    .about__element {
        width: 390px;
    }

    .about__element__reverse {
        margin-top: -15%;
        width: 393px;
        flex-direction: row-reverse;
    }


    .popular__subtitle {
        text-align: left;
        font-size: 1.8rem;
        margin-right: 30%;
        margin-left: 13%;
    }

    .popular__element {
        width: 147px;
        height: 171px;
        text-align: left;
    }

    .popular__element--best {
        width: 90%;

    }

    .popular__popular {
        margin-top: 86px;
        font-size: 1.2rem;
    }

    .fa-circle-check {
        font-size: 1.2rem;
    }

    .guia__table {
        margin-bottom: 15%;
    }

    .guia__element {
        margin-left: 25px;
        margin-top: 50px;
    }

    #movil__animated2 {
        display: none;
    }

    #movil__animated3 {
        display: none;
    }

    .guia__element__img {
        margin-right: 10%;
    }

    .guia__text {
        text-align: left;
        margin-top: 50px;
    }

    .guia__text__flex {
        margin-left: 56px;
        margin-right: 217px;
        margin-bottom: 21px;
    }

    .guia__title {
        font-size: 1.5rem;
        margin-left: 67px;
        margin-right: 278px;
        text-align: left;
        padding-bottom: 0px;
    }

    .guia__title__paragrahp {
        font-size: 0.8rem;
        margin: 13px 221px 17px 66px;
    }


    .guia__paragrahp {
        font-size: 0.7rem;
        margin-right: 15px;
    }

    .banner__internet {
        margin-top: 25%;
        margin-bottom: 10%;
        margin-top: 0%;
    }

    .banner__internet img {
        margin-left: 5px;

    }

    .slider__title {
        margin-right: 70%;
        margin-left: 10%;
        text-align: left;
        font-size: 1.5rem;
        margin-bottom: 5%;
    }

    #img_lagarto {
        position: relative;
        left: 34%;
        width: 60px;
        height: 38px;
        top: 39px
    }

    .planify__title {
        font-size: 0.9rem
    }

    .planify__button {

        padding-left: 20px;
        padding-right: 20px;
    }

    .planify__orange {
        padding: 17px;
        padding-left: 34px;
    }

    .carrusel {
        width: 110%;
        margin: -17px;
    }


    .carrusel__track {
        width: 100%;
    }

    .google__review {
        display: block;
    }

    .review__img {
        width: 100%;
        height: 100%;
    }

    .footer__title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer {
        padding-bottom: 60px;
    }

    .nav__link--footer {
        justify-content: space-between;
    }

    .footer__inputs {
        flex-wrap: wrap;
    }

    .footer__input {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit {
        margin: 0 auto;
        width: 50%;
    }


}